In [2]:
import os
import time
import sys
import numpy as np
import pandas as pd
import regex as re
import lxml
import numbers
from bs4 import BeautifulSoup
import requests
import json

req_headers = {
    'accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8',
    'accept-encoding': 'gzip, deflate, br',
    'accept-language': 'en-US,en;q=0.8',
    'upgrade-insecure-requests': '1',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/61.0.3163.100 Safari/537.36'
}

In [10]:
page_url = 'https://content.fortune.com/wp-json/irving/v1/data/franchise-search-results?list_id=2814606&token=Zm9ydHVuZTpCcHNyZmtNZCN5SndjWkkhNHFqMndEOTM='

In [11]:
# request the URL and parse the JSON
response = requests.get(page_url)
response.raise_for_status() # raise exception if invalid response
comps = response.json()
print(len(comps))

2

In [6]:
comp = comps[1]
print(len(comp))

2

In [216]:
# prettify json
format_json = json.dumps(comp, sort_keys=True, indent=5)
print(format_json[:1000])

{
     "items": [
          {
               "fields": [
                    {
                         "key": "rank",
                         "value": "104"
                    },
                    {
                         "key": "f500_revenues",
                         "value": "27266.4"
                    },
                    {
                         "key": "revchange",
                         "value": "7.8"
                    },
                    {
                         "key": "f500_profits",
                         "value": "53.9"
                    },
                    {
                         "key": "prftchange",
                         "value": "-81.2"
                    },
                    {
                         "key": "assets",
                         "value": "14397.4"
                    },
                    {
                         "key": "f500_mktval",
                         "value": "7833.2"
                    },

In [217]:
# select the third company
n_comp = comp['items'][2]
print(n_comp)

{'fields': [{'key': 'rank', 'value': '109'}, {'key': 'f500_revenues', 'value': '26186'}, {'key': 'revchange', 'value': '-5.8'}, {'key': 'f500_profits', 'value': '2422'}, {'key': 'prftchange', 'value': '-26.8'}, {'key': 'assets', 'value': '52663'}, {'key': 'f500_mktval', 'value': '28853.2'}, {'key': 'rankchange1000', 'value': '2'}, {'key': 'f500_employees', 'value': '24225'}, {'key': 'rankchange', 'value': '2'}, {'key': 'measure-up-rank', 'value': '60'}, {'key': 'name', 'value': 'Paramount Global'}, {'key': 'sector', 'value': 'Media'}, {'key': 'f500_industry', 'value': 'Entertainment'}, {'key': 'hqcity', 'value': 'New York'}, {'key': 'hqstate', 'value': 'NY'}, {'key': 'rankgain', 'value': 'yes'}, {'key': 'rankdrop', 'value': 'no'}, {'key': 'newcomer', 'value': 'no'}, {'key': 'profitable', 'value': 'yes'}, {'key': 'ceofounder', 'value': 'no'}, {'key': 'ceowoman', 'value': 'no'}, {'key': 'jobgrowth', 'value': 'no'}, {'key': 'global500-y-n', 'value': 'yes'}, {'key': 'best-companies-y-n', 'value': 'no'}, {'key': 'measure-up-y-n', 'value': 'yes'}, {'fieldMeta': {'title': 'Company', 'type': 'Text', 'importField': 'title', 'order': 'desc'}, 'key': 'title', 'value': 'Paramount Global'}], 'permalink': 'https://fortune.com/company/cbs/fortune500/'}

In [218]:
n_comp.keys()

dict_keys(['fields', 'permalink'])

In [219]:
new_comp = n_comp['permalink']
print(new_comp)

https://fortune.com/company/cbs/fortune500/

In [220]:
my_comp = n_comp['fields']
print(my_comp)

[{'key': 'rank', 'value': '109'}, {'key': 'f500_revenues', 'value': '26186'}, {'key': 'revchange', 'value': '-5.8'}, {'key': 'f500_profits', 'value': '2422'}, {'key': 'prftchange', 'value': '-26.8'}, {'key': 'assets', 'value': '52663'}, {'key': 'f500_mktval', 'value': '28853.2'}, {'key': 'rankchange1000', 'value': '2'}, {'key': 'f500_employees', 'value': '24225'}, {'key': 'rankchange', 'value': '2'}, {'key': 'measure-up-rank', 'value': '60'}, {'key': 'name', 'value': 'Paramount Global'}, {'key': 'sector', 'value': 'Media'}, {'key': 'f500_industry', 'value': 'Entertainment'}, {'key': 'hqcity', 'value': 'New York'}, {'key': 'hqstate', 'value': 'NY'}, {'key': 'rankgain', 'value': 'yes'}, {'key': 'rankdrop', 'value': 'no'}, {'key': 'newcomer', 'value': 'no'}, {'key': 'profitable', 'value': 'yes'}, {'key': 'ceofounder', 'value': 'no'}, {'key': 'ceowoman', 'value': 'no'}, {'key': 'jobgrowth', 'value': 'no'}, {'key': 'global500-y-n', 'value': 'yes'}, {'key': 'best-companies-y-n', 'value': 'no'}, {'key': 'measure-up-y-n', 'value': 'yes'}, {'fieldMeta': {'title': 'Company', 'type': 'Text', 'importField': 'title', 'order': 'desc'}, 'key': 'title', 'value': 'Paramount Global'}]

# JSON Data

In [221]:
fields = []

for j in comp['items']:

    #for key, value in comp:
    field = j['fields']
    fields.append(field)

print(len(fields))

1000

In [222]:
df = pd.DataFrame()

In [223]:
def gather_data(name, col):

    lst = []
    val = ""
    for i in fields:
        for j in i:
            if j['key'] == name:
                val = j['value']
            else:
                pass

        lst.append(val)

    df[col] = lst

    return df

In [224]:
keys = ['name', 'rank', 'rankchange', 'f500_revenues', 'f500_profits',
        'f500_ employees', 'sector', 'hqcity', 'hqstate', 'newcomer',
        'ceofounder', 'ceowoman', 'profitable']

cols = ['company', 'rank', 'rank_change', 'revenue', 'profit',
        'num. of employees', 'sector', 'city', 'state', 'newcomer',
        'ceo_founder', 'ceo_woman', 'profitable']


for x,y in zip(keys, cols):
    f500_df = gather_data(x, y)

In [225]:
print(f500_df.shape)
f500_df.head()

(1000, 13)

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable
0,Jabil,104,17,27266.4,53.9,,Technology,St. Petersburg,FL,no,no,no,yes
1,Mondelez International,108,9,26581,3555,,"Food, Beverages & Tobacco",Chicago,IL,no,no,no,yes
2,Paramount Global,109,2,26186,2422,,Media,New York,NY,no,no,no,yes
3,Netflix,115,49,24996.1,2761.4,,Media,Los Gatos,CA,no,yes,no,yes
4,Starbucks,125,-11,23518,928.3,,"Hotels, Restaurants & Leisure",Seattle,WA,no,no,no,yes

In [226]:
f500_df[['rank', 'rank_change', 'revenue', 'profit','num. of employees']] = f500_df[['rank', 'rank_change', 'revenue','profit','num. of employees']].apply(pd.to_numeric)

In [227]:
# fill missing values with zero
f500_df['rank_change'] = f500_df['rank_change'].fillna(0)

In [228]:
print(f500_df.dtypes)

company               object
rank                   int64
rank_change          float64
revenue              float64
profit               float64
num. of employees    float64
sector                object
city                  object
state                 object
newcomer              object
ceo_founder           object
ceo_woman             object
profitable            object
dtype: object

In [229]:
# Create new features
f500_df['prev_rank'] = (f500_df['rank'] + f500_df['rank_change'])
f500_df.head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank
0,Jabil,104,17.0,27266.4,53.9,NaN,Technology,St. Petersburg,FL,no,no,no,yes,121.0
1,Mondelez International,108,9.0,26581.0,3555.0,NaN,"Food, Beverages & Tobacco",Chicago,IL,no,no,no,yes,117.0
2,Paramount Global,109,2.0,26186.0,2422.0,NaN,Media,New York,NY,no,no,no,yes,111.0
3,Netflix,115,49.0,24996.1,2761.4,NaN,Media,Los Gatos,CA,no,yes,no,yes,164.0
4,Starbucks,125,-11.0,23518.0,928.3,NaN,"Hotels, Restaurants & Leisure",Seattle,WA,no,no,no,yes,114.0

In [230]:
# newcommer prev_rank
f500_df.loc[(f500_df['newcomer'] == 'yes')| (f500_df['rank']>499), 'prev_rank'] = " "

In [231]:
f500_df.head()

,company,rank,rank_change,revenue,profit,num. of employees,sector,city,state,newcomer,ceo_founder,ceo_woman,profitable,prev_rank
0,Jabil,104,17.0,27266.4,53.9,NaN,Technology,St. Petersburg,FL,no,no,no,yes,121.0
1,Mondelez International,108,9.0,26581.0,3555.0,NaN,"Food, Beverages & Tobacco",Chicago,IL,no,no,no,yes,117.0
2,Paramount Global,109,2.0,26186.0,2422.0,NaN,Media,New York,NY,no,no,no,yes,111.0
3,Netflix,115,49.0,24996.1,2761.4,NaN,Media,Los Gatos,CA,no,yes,no,yes,164.0
4,Starbucks,125,-11.0,23518.0,928.3,NaN,"Hotels, Restaurants & Leisure",Seattle,WA,no,no,no,yes,114.0

In [232]:
f500_df.to_csv("2017(2).csv", index=False)

# Crawl URL

# Join and sort