In [52]:
import pandas as pd

In [53]:
companies = pd.read_csv("../../Datasets/Fortune 500/Fortune_500_Corporate_Headquarters_arcgis.csv")
#companies.head()
counties = pd.read_csv("../../Datasets/Housing Prices/County Datasets/All Homes County.csv")
ohcounties = counties[counties["State"] == "OH"]
ohcounties["RegionName"] = ohcounties.loc[:,"RegionName"].str.rstrip("County")
ohcounties = ohcounties.rename(columns={"RegionName":"index"})
ohcounties = ohcounties.set_index("index")
ohcounties = ohcounties.drop(ohcounties.loc[:, "RegionID":"SizeRank"], axis=1)
ohcounties = ohcounties.drop(ohcounties.loc[:, "RegionType":"MunicipalCodeFIPS"], axis=1)
ohcounties # should be 88

C:\Users\Alexander\AppData\Local\Temp\ipykernel_21688\4070546206.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ohcounties["RegionName"] = ohcounties.loc[:,"RegionName"].str.rstrip("County")

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
index,,,,,,,,,,,,,,,,,,,,,
Franklin,124134.0,124275.0,124536.0,124977.0,125448.0,125852.0,126341.0,126949.0,127518.0,128029.0,...,257069.0,260003.0,262981.0,266697.0,270863.0,275481.0,278800.0,281801.0,284115.0,286187.0
Cuyahoga,120292.0,120632.0,120904.0,121418.0,122281.0,123068.0,123847.0,124179.0,124581.0,124968.0,...,183071.0,184163.0,185770.0,188340.0,190962.0,194720.0,196968.0,198809.0,199227.0,199777.0
Hamilton,124526.0,124164.0,123721.0,124156.0,124923.0,126378.0,126859.0,127548.0,128054.0,128710.0,...,223346.0,225085.0,227369.0,230359.0,233345.0,236987.0,239982.0,241494.0,240672.0,239838.0
Summit,114400.0,114723.0,114868.0,115272.0,115520.0,115897.0,116215.0,116559.0,116931.0,117255.0,...,181941.0,183787.0,185964.0,188250.0,190666.0,193401.0,196284.0,198679.0,200207.0,200731.0
Montgomery,100142.0,99323.0,99446.0,99366.0,99933.0,100189.0,100457.0,100736.0,101099.0,101462.0,...,157148.0,157385.0,158514.0,160742.0,163956.0,166126.0,167442.0,168329.0,168960.0,169385.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Harrison,57924.0,58183.0,58153.0,58606.0,58913.0,59471.0,59908.0,60622.0,61094.0,61186.0,...,110891.0,112306.0,113868.0,115506.0,115966.0,116590.0,117145.0,118549.0,119735.0,120956.0
Morgan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121189.0,123125.0,125507.0,127981.0,128885.0,129508.0,130194.0,131658.0,133207.0,134919.0
Noble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,156263.0,158745.0,161228.0,163837.0,164850.0,166153.0,167308.0,169669.0,171628.0,175469.0
Monroe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128872.0,129966.0,131412.0,133240.0,133798.0,133984.0,133989.0,134317.0,134877.0,134839.0
Vinton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108205.0,109469.0,110917.0,112508.0,113107.0,113979.0,114608.0,115967.0,116951.0,118336.0

In [54]:
ohcounties = ohcounties.transpose()
ohcounties = ohcounties.reset_index()
ohcounties = ohcounties.rename(columns={"index": "Date"})
ohcounties.to_excel("Ohio counties dataset.xlsx")
ohcounties

index,Date,Franklin,Cuyahoga,Hamilton,Summit,Montgomery,Lucas,Butler,Stark,Lorain,...,Carroll,Henry,Meigs,Wyandot,Paulding,Harrison,Morgan,Noble,Monroe,Vinton
0,2000-01-31,124134.0,120292.0,124526.0,114400.0,100142.0,78248.0,128418.0,100841.0,128786.0,...,NaN,83416.0,NaN,80048.0,74716.0,57924.0,NaN,NaN,NaN,NaN
1,2000-02-29,124275.0,120632.0,124164.0,114723.0,99323.0,78508.0,128730.0,101250.0,129113.0,...,NaN,83691.0,NaN,80174.0,75060.0,58183.0,NaN,NaN,NaN,NaN
2,2000-03-31,124536.0,120904.0,123721.0,114868.0,99446.0,78735.0,128981.0,101482.0,129502.0,...,NaN,83905.0,NaN,80316.0,75313.0,58153.0,NaN,NaN,NaN,NaN
3,2000-04-30,124977.0,121418.0,124156.0,115272.0,99366.0,79303.0,129587.0,102037.0,130226.0,...,NaN,84365.0,NaN,80756.0,75803.0,58606.0,NaN,NaN,NaN,NaN
4,2000-05-31,125448.0,122281.0,124923.0,115520.0,99933.0,79931.0,130423.0,102579.0,130889.0,...,NaN,84751.0,NaN,81111.0,76391.0,58913.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-04-30,275481.0,194720.0,236987.0,193401.0,166126.0,145586.0,261836.0,182347.0,210276.0,...,171375.0,165845.0,104247.0,151918.0,120106.0,116590.0,129508.0,166153.0,133984.0,113979.0
268,2022-05-31,278800.0,196968.0,239982.0,196284.0,167442.0,147358.0,266359.0,184000.0,212910.0,...,172201.0,166278.0,104781.0,152621.0,120633.0,117145.0,130194.0,167308.0,133989.0,114608.0
269,2022-06-30,281801.0,198809.0,241494.0,198679.0,168329.0,149035.0,269788.0,185498.0,215816.0,...,174286.0,167722.0,105994.0,154333.0,121799.0,118549.0,131658.0,169669.0,134317.0,115967.0
270,2022-07-31,284115.0,199227.0,240672.0,200207.0,168960.0,150666.0,271584.0,186357.0,218301.0,...,176458.0,169288.0,106726.0,156083.0,122882.0,119735.0,133207.0,171628.0,134877.0,116951.0
271,2022-08-31,286187.0,199777.0,239838.0,200731.0,169385.0,151522.0,272080.0,187070.0,219631.0,...,178705.0,171066.0,107721.0,158194.0,124238.0,120956.0,134919.0,175469.0,134839.0,118336.0

In [56]:
companies = pd.read_csv("../../Datasets/Fortune 500/Fortune_500_Corporate_Headquarters_arcgis.csv")
companies

,X,Y,FID,OBJECTID,RANK,NAME,ADDRESS,ADDRESS2,CITY,STATE,...,PRC,COUNTYFIPS,COMMENTS,WEBSITE,PROFIT,GlobalID,CreationDate,Creator,EditDate,Editor
0,-1.293321e+07,5.403709e+06,1,1,49,ALBERTSONS COS.,250 PARKCENTER BOULEVARD,NOT AVAILABLE,BOISE,ID,...,ADDRESS,16001,NOT AVAILABLE,HTTPS://WWW.ALBERTSONS.COM/#1,-502.2,{A7574C1C-884F-48A8-A612-51202F5036DF},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
1,-1.292942e+07,5.392879e+06,2,2,226,MICRON TECHNOLOGY,8000 SOUTH FEDERAL WAY,NOT AVAILABLE,BOISE,ID,...,ADDRESS,16001,NOT AVAILABLE,HTTPS://WWW.MICRON.COM/,-276.0,{3C4FFBAF-B76E-435E-9B5F-D93C995F5720},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
2,-8.842930e+06,4.313449e+06,3,3,290,LABORATORY CORP. OF AMERICA,358 SOUTH MAIN STREET,NOT AVAILABLE,BURLINGTON,NC,...,ADDRESS,37001,NOT AVAILABLE,HTTPS://WWW.LABCORP.COM/,732.1,{95021691-694A-4761-90C9-E5E1DE52DC1F},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
3,-1.357618e+07,4.507432e+06,4,4,440,LAM RESEARCH,4650 CUSHING PARKWAY,NOT AVAILABLE,FREMONT,CA,...,ADDRESS,6001,NOT AVAILABLE,HTTPS://WWW.LAMRESEARCH.COM/,914.0,{1C7A6B3E-5EB8-46D7-81B9-E1A6113187A2},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
4,-1.357871e+07,4.508509e+06,5,5,198,SYNNEX,44201 NOBEL DRIVE,NOT AVAILABLE,FREMONT,CA,...,ADDRESS,6001,NOT AVAILABLE,HTTPS://WWW.SYNNEXCORP.COM/,234.9,{D8F8FE15-E3C1-4848-8D28-141470CE17F5},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,-9.784044e+06,5.206344e+06,496,496,111,ABBVIE,1 NORTH WAUKEGAN,NOT AVAILABLE,NORTH CHICAGO,IL,...,ON-ENTITY,17097,NOT AVAILABLE,HTTPS://WWW.ABBVIE.COM/,5953.0,{8B0E310D-9586-4EBD-AAF8-76501AED4026},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
496,-8.367717e+06,4.859359e+06,497,497,31,COMCAST,1701 JOHN F KENNEDY BOULEVARD,COMCAST CENTER,PHILADELPHIA,PA,...,ON-ENTITY,42101,NOT AVAILABLE,HTTPS://CORPORATE.COMCAST.COM/,8695.0,{A860B365-3B9B-4F49-AA44-255962AA4DBE},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
497,-9.407100e+06,4.736452e+06,498,498,36,PROCTER & GAMBLE,1 PROCTER AND GAMBLE PLAZA,NOT AVAILABLE,CINCINNATI,OH,...,ON-ENTITY,39061,NOT AVAILABLE,HTTPS://US.PG.COM/,10508.0,{981D0B05-CE5A-415F-A89C-4CD9949BE423},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
498,-1.038271e+07,5.617628e+06,499,499,239,AMERIPRISE FINANCIAL,55 AMERIPRISE FINANCIAL CENTER,AMERIPRISE FINANCIAL CENTER,MINNEAPOLIS,MN,...,ON-ENTITY,27053,NOT AVAILABLE,HTTPS://WWW.AMERIPRISE.COM/,1314.0,{58D4BFB3-4EA4-4556-BD31-C084A10D655F},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
499,-1.035218e+07,5.613759e+06,500,500,94,3M,2501 HUDSON ROAD,NOT AVAILABLE,MAPLEWOOD,MN,...,ON-ENTITY,27123,NOT AVAILABLE,HTTPS://WWW.3M.COM/3M/EN_US/COMPANY-US/,5050.0,{157B8C5C-CA63-4F80-9C7E-785DD7787811},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD

In [57]:
ohcompanies = companies[companies["STATE"] == "OH"]
#ohcompanies = ohcompanies.rename(columns={"COUNTY":"index"})
#ohcompanies = ohcompanies.set_index("index")
ohcompanies = ohcompanies.drop(ohcompanies.loc[:, "X":"OBJECTID"], axis=1)
ohcompanies = ohcompanies.drop(ohcompanies.loc[:, "ADDRESS":"ZIP"], axis=1)
ohcompanies = ohcompanies.drop("EMPLOYEES", axis=1)
ohcompanies = ohcompanies.drop(ohcompanies.loc[:, "LATITUDE":"Editor"], axis=1)
ohcompanies # should be 88

     RANK                                NAME    COUNTY  REVENUES
40    476                CINCINNATI FINANCIAL    BUTLER      5449
41    441                    AK STEEL HOLDING    BUTLER      5883
72    479                             KEYCORP  CUYAHOGA      5422
73    236                    SHERWIN-WILLIAMS  CUYAHOGA     11856
74    251                     PARKER-HANNIFIN  CUYAHOGA     11361
75    120                         PROGRESSIVE  CUYAHOGA     23441
76    470            TRAVELCENTERS OF AMERICA  CUYAHOGA      5511
149   495                            BIG LOTS  FRANKLIN      5200
150    15                     CARDINAL HEALTH  FRANKLIN    121546
151   167             AMERICAN ELECTRIC POWER  FRANKLIN     16380
152    68                          NATIONWIDE  FRANKLIN     40074
153   220                            L BRANDS  FRANKLIN     12574
172   411            AMERICAN FINANCIAL GROUP  HAMILTON      6498
173    18                              KROGER  HAMILTON    115337
174   110                              MACY'S  HAMILTON     25778
175   483  WESTERN & SOUTHERN FINANCIAL GROUP  HAMILTON      5398
176   389                 FIFTH THIRD BANCORP  HAMILTON      6889
179    51                  MARATHON PETROLEUM   HANCOCK     55858
269   447                        DANA HOLDING     LUCAS      5826
270   458                       OWENS CORNING     LUCAS      5677
457   196                         FIRSTENERGY    SUMMIT     14156
458   184              GOODYEAR TIRE & RUBBER    SUMMIT     15158
474   346                        J.M. SMUCKER     WAYNE      7811
489   401                      OWENS-ILLINOIS      WOOD      6702
497    36                    PROCTER & GAMBLE  HAMILTON     71726

In [58]:
ohcompanies.to_excel("Ohio companies.xlsx")

## Quick check if counties are all there

In [59]:
ohcompanies.value_counts("COUNTY")

COUNTY
HAMILTON    6
CUYAHOGA    5
FRANKLIN    5
BUTLER      2
LUCAS       2
SUMMIT      2
HANCOCK     1
WAYNE       1
WOOD        1
dtype: int64

In [60]:
ohcounties = counties[counties["State"] == "OH"]
ohcounties

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
30,2288,30,Franklin County,county,OH,OH,"Columbus, OH",39,49,124134.0,...,257069.0,260003.0,262981.0,266697.0,270863.0,275481.0,278800.0,281801.0,284115.0,286187.0
32,2241,32,Cuyahoga County,county,OH,OH,"Cleveland-Elyria, OH",39,35,120292.0,...,183071.0,184163.0,185770.0,188340.0,190962.0,194720.0,196968.0,198809.0,199227.0,199777.0
74,2322,74,Hamilton County,county,OH,OH,"Cincinnati, OH-KY-IN",39,61,124526.0,...,223346.0,225085.0,227369.0,230359.0,233345.0,236987.0,239982.0,241494.0,240672.0,239838.0
124,1404,124,Summit County,county,OH,OH,"Akron, OH",39,153,114400.0,...,181941.0,183787.0,185964.0,188250.0,190666.0,193401.0,196284.0,198679.0,200207.0,200731.0
128,2980,128,Montgomery County,county,OH,OH,"Dayton-Kettering, OH",39,113,100142.0,...,157148.0,157385.0,158514.0,160742.0,163956.0,166126.0,167442.0,168329.0,168960.0,169385.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2066,2334,2083,Harrison County,county,OH,OH,NaN,39,67,57924.0,...,110891.0,112306.0,113868.0,115506.0,115966.0,116590.0,117145.0,118549.0,119735.0,120956.0
2100,1236,2117,Morgan County,county,OH,OH,NaN,39,115,NaN,...,121189.0,123125.0,125507.0,127981.0,128885.0,129508.0,130194.0,131658.0,133207.0,134919.0
2112,655,2131,Noble County,county,OH,OH,NaN,39,121,NaN,...,156263.0,158745.0,161228.0,163837.0,164850.0,166153.0,167308.0,169669.0,171628.0,175469.0
2143,1224,2164,Monroe County,county,OH,OH,NaN,39,111,NaN,...,128872.0,129966.0,131412.0,133240.0,133798.0,133984.0,133989.0,134317.0,134877.0,134839.0
2201,1460,2224,Vinton County,county,OH,OH,NaN,39,163,NaN,...,108205.0,109469.0,110917.0,112508.0,113107.0,113979.0,114608.0,115967.0,116951.0,118336.0