In [2]:
import pandas as pd
bond_prices_monthly = pd.read_csv("IRLTLT01USMonthly156N.csv")

In [3]:
bond_prices_monthly = pd.read_csv("IRLTLT01USMonthly156N.csv")
bond_prices_monthly

           DATE  IRLTLT01USM156N
0    1960-01-01             4.72
1    1960-02-01             4.49
2    1960-03-01             4.25
3    1960-04-01             4.28
4    1960-05-01             4.35
..          ...              ...
747  2022-04-01             2.75
748  2022-05-01             2.90
749  2022-06-01             3.14
750  2022-07-01             2.90
751  2022-08-01             2.90

[752 rows x 2 columns]

In [4]:
bond_prices_quarterly = pd.read_csv("IRLTLT01USQuarterly156N.csv")
bond_prices_quarterly

           DATE  IRLTLT01USQ156N
0    1960-01-01         4.486667
1    1960-04-01         4.260000
2    1960-07-01         3.833333
3    1960-10-01         3.886667
4    1961-01-01         3.786667
..          ...              ...
245  2021-04-01         1.593333
246  2021-07-01         1.323333
247  2021-10-01         1.536667
248  2022-01-01         1.940000
249  2022-04-01         2.930000

[250 rows x 2 columns]