In [35]:
import pandas as pd
df = pd.read_csv("County Datasets/All Homes County.csv")
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,213337.0,...,801184.0,806462.0,811555.0,819849.0,834285.0,851774.0,866848.0,868507.0,868009.0,855016.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,177524.0,...,297690.0,300451.0,303056.0,304834.0,307439.0,309625.0,313133.0,315977.0,317999.0,318495.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,115168.0,...,255108.0,258177.0,261375.0,265008.0,269715.0,274806.0,279791.0,283639.0,286186.0,287739.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,144577.0,...,433252.0,439045.0,444846.0,453607.0,462953.0,474616.0,483590.0,490012.0,487572.0,480899.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,224357.0,...,809787.0,820971.0,841138.0,861177.0,884073.0,903218.0,916325.0,915794.0,904536.0,893508.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2832,828,3104,Alpine County,county,CA,CA,NaN,6,3,NaN,...,491744.0,497880.0,504093.0,509654.0,513368.0,516969.0,520528.0,526450.0,534955.0,543203.0
2833,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,NaN,...,392551.0,398209.0,405269.0,412284.0,414767.0,416227.0,418794.0,427286.0,435514.0,444371.0
2834,1933,3114,Mineral County,county,CO,CO,NaN,8,79,NaN,...,348863.0,351146.0,353074.0,354919.0,354471.0,356314.0,359729.0,366943.0,372776.0,378031.0
2835,1648,3129,Daggett County,county,UT,UT,NaN,49,9,NaN,...,283054.0,290086.0,295529.0,299770.0,299668.0,300498.0,301985.0,307347.0,312934.0,319411.0
2836,2518,3132,San Juan County,county,CO,CO,NaN,8,111,NaN,...,387792.0,392232.0,397936.0,403220.0,404984.0,406168.0,409003.0,418434.0,431745.0,445588.0

In [38]:
df = pd.read_csv("County Datasets/Bottom Tier County.csv")
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,140713.0,...,575277.0,579420.0,583428.0,589748.0,600496.0,613498.0,624848.0,626547.0,626561.0,617487.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,111971.0,...,193013.0,195033.0,196952.0,198340.0,200209.0,201806.0,204277.0,206339.0,207870.0,208404.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,75562.0,...,186035.0,188221.0,190560.0,193186.0,196646.0,200395.0,204067.0,206833.0,208677.0,209904.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,95107.0,...,314112.0,318811.0,323647.0,330399.0,337159.0,345598.0,352387.0,357438.0,355837.0,350870.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,150562.0,...,592869.0,601197.0,615972.0,630566.0,647287.0,661633.0,671618.0,671394.0,663111.0,655086.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2832,828,3104,Alpine County,county,CA,CA,NaN,6,3,NaN,...,366871.0,371500.0,376395.0,380582.0,383360.0,386116.0,389145.0,393927.0,400712.0,406991.0
2833,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,NaN,...,302078.0,307772.0,314478.0,321092.0,322629.0,323038.0,325186.0,332885.0,340502.0,350054.0
2834,1933,3114,Mineral County,county,CO,CO,NaN,8,79,NaN,...,237978.0,240030.0,241150.0,241910.0,241487.0,242633.0,245091.0,249722.0,253670.0,256897.0
2835,1648,3129,Daggett County,county,UT,UT,NaN,49,9,NaN,...,184549.0,188928.0,192766.0,195804.0,196327.0,197107.0,198628.0,202626.0,206513.0,210505.0
2836,2518,3132,San Juan County,county,CO,CO,NaN,8,111,NaN,...,329890.0,333720.0,338756.0,343736.0,345370.0,346267.0,348840.0,356657.0,366929.0,378475.0

In [40]:
df = pd.read_csv("County Datasets/Top Tier County.csv")
#df.StateName.value_counts()
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,399832.0,...,1433618.0,1442392.0,1450765.0,1465359.0,1491727.0,1523859.0,1552091.0,1556423.0,1559565.0,1540215.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,321783.0,...,495903.0,499960.0,503677.0,506062.0,510169.0,513767.0,519727.0,524566.0,528170.0,529326.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,213026.0,...,422950.0,427436.0,432239.0,437349.0,444412.0,452099.0,460003.0,465965.0,469773.0,471983.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,241207.0,...,696018.0,706391.0,717208.0,732391.0,747759.0,765980.0,780415.0,790397.0,786843.0,776308.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,399174.0,...,1349783.0,1369941.0,1405959.0,1441590.0,1482951.0,1517859.0,1543660.0,1545612.0,1530697.0,1514992.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2833,828,3104,Alpine County,county,CA,CA,NaN,6,3,NaN,...,799214.0,809325.0,820308.0,830012.0,836901.0,843186.0,849823.0,859955.0,872583.0,884904.0
2834,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,NaN,...,573025.0,579268.0,587911.0,595488.0,599291.0,600994.0,604836.0,614971.0,626795.0,639803.0
2835,1933,3114,Mineral County,county,CO,CO,NaN,8,79,NaN,...,550616.0,554841.0,559264.0,564042.0,564401.0,566345.0,570431.0,579941.0,589120.0,597964.0
2836,1648,3129,Daggett County,county,UT,UT,NaN,49,9,NaN,...,364659.0,372932.0,380587.0,386069.0,386573.0,387285.0,389395.0,396173.0,402432.0,409603.0
2837,2518,3132,San Juan County,county,CO,CO,NaN,8,111,NaN,...,515261.0,521776.0,529704.0,537093.0,539737.0,541783.0,545564.0,560410.0,578208.0,596873.0