In [2]:
import pandas as pd
df = pd.read_csv("All Homes Seasonally adjusted.csv")
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,213337.0,...,801184.0,806462.0,811555.0,819849.0,834285.0,851774.0,866848.0,868507.0,868009.0,855016.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,177524.0,...,297690.0,300451.0,303056.0,304834.0,307439.0,309625.0,313133.0,315977.0,317999.0,318495.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,115168.0,...,255108.0,258177.0,261375.0,265008.0,269715.0,274806.0,279791.0,283639.0,286186.0,287739.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,144577.0,...,433252.0,439045.0,444846.0,453607.0,462953.0,474616.0,483590.0,490012.0,487572.0,480899.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,224357.0,...,809787.0,820971.0,841138.0,861177.0,884073.0,903218.0,916325.0,915794.0,904536.0,893508.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2832,828,3104,Alpine County,county,CA,CA,NaN,6,3,NaN,...,491744.0,497880.0,504093.0,509654.0,513368.0,516969.0,520528.0,526450.0,534955.0,543203.0
2833,2345,3113,Hinsdale County,county,CO,CO,NaN,8,53,NaN,...,392551.0,398209.0,405269.0,412284.0,414767.0,416227.0,418794.0,427286.0,435514.0,444371.0
2834,1933,3114,Mineral County,county,CO,CO,NaN,8,79,NaN,...,348863.0,351146.0,353074.0,354919.0,354471.0,356314.0,359729.0,366943.0,372776.0,378031.0
2835,1648,3129,Daggett County,county,UT,UT,NaN,49,9,NaN,...,283054.0,290086.0,295529.0,299770.0,299668.0,300498.0,301985.0,307347.0,312934.0,319411.0
2836,2518,3132,San Juan County,county,CO,CO,NaN,8,111,NaN,...,387792.0,392232.0,397936.0,403220.0,404984.0,406168.0,409003.0,418434.0,431745.0,445588.0