In [1]:
import pandas as pd

In [2]:
companies = pd.read_csv("Fortune_500_Corporate_Headquarters_arcgis.csv")
companies.head()

,X,Y,FID,OBJECTID,RANK,NAME,ADDRESS,ADDRESS2,CITY,STATE,...,PRC,COUNTYFIPS,COMMENTS,WEBSITE,PROFIT,GlobalID,CreationDate,Creator,EditDate,Editor
0,-1.293321e+07,5.403709e+06,1,1,49,ALBERTSONS COS.,250 PARKCENTER BOULEVARD,NOT AVAILABLE,BOISE,ID,...,ADDRESS,16001,NOT AVAILABLE,HTTPS://WWW.ALBERTSONS.COM/#1,-502.2,{A7574C1C-884F-48A8-A612-51202F5036DF},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
1,-1.292942e+07,5.392879e+06,2,2,226,MICRON TECHNOLOGY,8000 SOUTH FEDERAL WAY,NOT AVAILABLE,BOISE,ID,...,ADDRESS,16001,NOT AVAILABLE,HTTPS://WWW.MICRON.COM/,-276.0,{3C4FFBAF-B76E-435E-9B5F-D93C995F5720},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
2,-8.842930e+06,4.313449e+06,3,3,290,LABORATORY CORP. OF AMERICA,358 SOUTH MAIN STREET,NOT AVAILABLE,BURLINGTON,NC,...,ADDRESS,37001,NOT AVAILABLE,HTTPS://WWW.LABCORP.COM/,732.1,{95021691-694A-4761-90C9-E5E1DE52DC1F},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
3,-1.357618e+07,4.507432e+06,4,4,440,LAM RESEARCH,4650 CUSHING PARKWAY,NOT AVAILABLE,FREMONT,CA,...,ADDRESS,6001,NOT AVAILABLE,HTTPS://WWW.LAMRESEARCH.COM/,914.0,{1C7A6B3E-5EB8-46D7-81B9-E1A6113187A2},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD
4,-1.357871e+07,4.508509e+06,5,5,198,SYNNEX,44201 NOBEL DRIVE,NOT AVAILABLE,FREMONT,CA,...,ADDRESS,6001,NOT AVAILABLE,HTTPS://WWW.SYNNEXCORP.COM/,234.9,{D8F8FE15-E3C1-4848-8D28-141470CE17F5},2021/12/16 14:56:43+00,HostedByHIFLD,2021/12/16 14:56:43+00,HostedByHIFLD

In [3]:
counties = pd.read_csv("../Housing Prices/County Datasets/All Homes County.csv")
counties.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,213337.0,...,801184.0,806462.0,811555.0,819849.0,834285.0,851774.0,866848.0,868507.0,868009.0,855016.0
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,177524.0,...,297690.0,300451.0,303056.0,304834.0,307439.0,309625.0,313133.0,315977.0,317999.0,318495.0
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,115168.0,...,255108.0,258177.0,261375.0,265008.0,269715.0,274806.0,279791.0,283639.0,286186.0,287739.0
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,144577.0,...,433252.0,439045.0,444846.0,453607.0,462953.0,474616.0,483590.0,490012.0,487572.0,480899.0
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,224357.0,...,809787.0,820971.0,841138.0,861177.0,884073.0,903218.0,916325.0,915794.0,904536.0,893508.0

In [16]:
companies.value_counts("STATE")

STATE
CA    53
NY    53
TX    49
IL    35
OH    25
VA    23
NJ    22
PA    21
CT    19
GA    18
MN    18
MI    17
FL    17
MA    12
TN    11
NC    11
CO    10
WA    10
MO    10
WI     9
IN     7
AR     6
NE     5
OK     5
RI     4
AZ     4
MD     4
KY     3
IA     3
DC     2
DE     2
OR     2
ID     2
KS     2
NV     2
LA     2
UT     1
AL     1
dtype: int64

In [40]:
counties.value_counts("State")

State
TX    208
GA    159
VA    133
KY    115
MO    108
NC     99
IA     99
TN     95
IL     95
IN     92
OH     88
MN     87
MI     83
AR     74
OK     72
WI     71
PA     67
FL     67
AL     65
MS     65
CO     64
KS     63
LA     62
NY     62
CA     58
NE     58
WV     51
SC     45
ID     42
WA     39
MT     36
OR     36
SD     31
MD     24
NM     24
UT     23
ND     22
WY     21
NJ     21
NV     16
ME     16
AZ     15
MA     14
VT     14
NH     10
CT      8
AK      7
RI      5
HI      4
DE      3
DC      1
dtype: int64

In [45]:
combine = companies["STATE"].value_counts() / counties["State"].value_counts()
combine = pd.Series(combine)
combine = combine.reset_index()
combine.rename(columns={"index": "State", 0:"Data"})

   State      Data
0     AK       NaN
1     AL  0.015385
2     AR  0.081081
3     AZ  0.266667
4     CA  0.913793
5     CO  0.156250
6     CT  2.375000
7     DC  2.000000
8     DE  0.666667
9     FL  0.253731
10    GA  0.113208
11    HI       NaN
12    IA  0.030303
13    ID  0.047619
14    IL  0.368421
15    IN  0.076087
16    KS  0.031746
17    KY  0.026087
18    LA  0.032258
19    MA  0.857143
20    MD  0.166667
21    ME       NaN
22    MI  0.204819
23    MN  0.206897
24    MO  0.092593
25    MS       NaN
26    MT       NaN
27    NC  0.111111
28    ND       NaN
29    NE  0.086207
30    NH       NaN
31    NJ  1.047619
32    NM       NaN
33    NV  0.125000
34    NY  0.854839
35    OH  0.284091
36    OK  0.069444
37    OR  0.055556
38    PA  0.313433
39    RI  0.800000
40    SC       NaN
41    SD       NaN
42    TN  0.115789
43    TX  0.235577
44    UT  0.043478
45    VA  0.172932
46    VT       NaN
47    WA  0.256410
48    WI  0.126761
49    WV       NaN
50    WY       NaN

CT, NJ, NY all too close to New york
DC is the capital
CA is limited to 1-2 cities
RI all in one county

In [54]:
for state in combine:
    print(state)
    ST = companies[companies["STATE"] == state]
    ST.value_counts("COUNTY")

index
0

In [7]:
#rslt_df = dataframe[dataframe['Percentage'] > 70]
MA = companies[companies["STATE"] == "MA"]
MA.value_counts("COUNTY")

COUNTY
MIDDLESEX    7
SUFFOLK      3
HAMPDEN      2
dtype: int64

In [8]:
#RI = companies[companies["STATE"] == "RI"]
#RI.value_counts("COUNTY")
CT = companies[companies["STATE"] == "DC"]
CT.value_counts("COUNTY")

COUNTY
DISTRICT OF COLUMBIA    2
dtype: int64