In [23]:
import pandas as pd

In [24]:
fortune2022 = pd.read_csv("Fortune_500_Corporate_Headquarters.csv", index_col="RANK")
fortune2022 = fortune2022.drop(fortune2022.columns.difference(["NAME", "CITY", "STATE", "RANK", "REVENUES", "PROFIT"]), axis=1)
fortune2022.sort_values("RANK", ascending=True)

                    NAME           CITY STATE  REVENUES   PROFIT
RANK
1                WALMART    BENTONVILLE    AR    485873  13643.0
2     BERKSHIRE HATHAWAY          OMAHA    NE    223604  24074.0
3                  APPLE      CUPERTINO    CA    215639  45687.0
4            EXXON MOBIL         IRVING    TX    205004   7840.0
5               MCKESSON  SAN FRANCISCO    CA    192487   2258.0
...                  ...            ...   ...       ...      ...
496        MICHAELS COS.         IRVING    TX      5197    378.2
497        TOLL BROTHERS        HORSHAM    PA      5170    382.1
498                YAHOO      SUNNYVALE    CA      5169   -214.3
499        VISTRA ENERGY         IRVING    TX      5164 -99999.0
500       ABM INDUSTRIES       NEW YORK    NY      5145     57.2

[500 rows x 5 columns]

In [25]:
fortune2021 = pd.read_csv("Fortune_1000.csv", index_col="rank")
fortune2021 = fortune2021.drop(fortune2021.columns.difference(["company", "city", "state", "ZIP", "rank", "revenue", "profit"]), axis=1)
fortune2021

                        company   revenue   profit            city state
rank
1                       Walmart  523964.0  14881.0     Bentonville    AR
2                        Amazon  280522.0  11588.0         Seattle    WA
3                   Exxon Mobil  264938.0  14340.0          Irving    TX
4                         Apple  260174.0  55256.0       Cupertino    CA
5                    CVS Health  256776.0   6634.0      Woonsocket    RI
...                         ...       ...      ...             ...   ...
996            Mr. Cooper Group    2007.0    274.0         Coppell    TX
997               Herc Holdings    1999.0     47.5  Bonita Springs    FL
998       Healthpeak Properties    1997.4     45.5          Irvine    CA
999                    SPX FLOW    1996.3    -95.1       Charlotte    NC
1000  Liberty Oilfield Services    1990.3     39.0          Denver    CO

[1000 rows x 5 columns]

In [26]:
fortune2017 = pd.read_csv("Fortune 500 2017 - Fortune 500.csv", index_col="Rank")
fortune2017 = fortune2017.drop(fortune2017.columns.difference(["Title", "Hqlocation", "Hqcity", "Hqstate", "ZIP", "Rank", "Rank_change", "Revenues", "Profits"]), axis=1)
fortune2017

,Title,Hqlocation,Hqcity,Hqstate,Revenues,Profits
Rank,,,,,,
1,Walmart,"Bentonville, AR",Bentonville,AR,485873,13643.0
2,Berkshire Hathaway,"Omaha, NE",Omaha,NE,223604,24074.0
3,Apple,"Cupertino, CA",Cupertino,CA,215639,45687.0
4,Exxon Mobil,"Irving, TX",Irving,TX,205004,7840.0
5,McKesson,"San Francisco, CA",San Francisco,CA,192487,2258.0
...,...,...,...,...,...,...
496,Michaels Cos.,"Irving, TX",Irving,TX,5197,378.2
497,Toll Brothers,"Horsham, PA",Horsham,PA,5170,382.1
498,Yahoo,"Sunnyvale, CA",Sunnyvale,CA,5169,-214.3
499,Vistra Energy,"Dallas, TX",Dallas,TX,5164,-214.3
500,ABM Industries,"New York, NY",New York,NY,5145,57.2