In [9]:
import pandas as pd

In [10]:
F500_test = []
for i in range(2007,2023):

    F500_test.append(pd.read_csv(f"CSVs/F1000_{i}.csv"))

,company,rank,revenue,sector,city,state
0,Caterpillar,49,55656,Construction and Farm Machinery,NaN,IL
1,United Parcel Service,50,55438,"Mail, Package, and Freight Delivery",NaN,GA
2,Dow Chemical,48,57080,Chemicals,NaN,MI
3,Google,46,60629,Internet Services and Retailing,NaN,CA
4,ConocoPhillips,47,59433,"Mining, Crude-Oil Production",NaN,TX
...,...,...,...,...,...,...
995,"Michael Foods Group, Inc",985,1948,Food Consumer Products,NaN,MN
996,"Itron, Inc.",984,1949,"Electronics, Electrical Equip.",NaN,WA
997,"Valhi, Inc.",982,1952,Chemicals,NaN,TX
998,Southwest Gas Corporation,983,1951,Utilities: Gas and Electric,NaN,NV
999,Emeritus Corporation,981,1961,Health Care: Medical Facilities,NaN,WA